@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
  background:#424242;
  font-family: 'Noto Sans', sans-serif;
}

.center {
position: absolute;
top: 50%;
transform: translate(0, -50%);
}
.hidden {
  display: none;
}

.formi{
  border: 1px solid #28a745;
  height:40px;
}
@media only screen and (max-width: 600px) {
  .center {
    position: relative;
    transform: translate(0, 0);
    width :100%;
  }
}